@font-face {
  font-family: "CMUnti";
  src: url("fonts/cmunti.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Computer Modern";
  src: url("fonts/cmunrm.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
